/* Main Style */



BODY {

  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color:#444;
  font-weight: 400;

}

#container {
  width:100%;
  max-width: 1200px;
  margin: 0 auto;


}

/*Name*/

#name {
   font-size:3em;
   text-transform: uppercase;
   text-align:center;
   border-bottom: 1px solid #33485e;
   width:60%;
   min-width:300px;
   /*Center a DIV tag*/
   margin:0 auto;

}

/*Title*/

#title {
   color:#33485e;
   text-transform:uppercase;
   font-size:1.5em;
   font-weight:600;
   text-align: center;
   margin-top:20px;
   margin-bottom:0px;
   margin-left:0px;
   margin-right:0px;
}

/*Section Titles*/

.sectionheader {
  font-size:1.5em;
  text-transform: uppercase;
  background-color:#33485e;
  color:#fff;
  font-weight:400;
  margin-top:20px;
  margin-bottom:10px;
  margin-right:0px;
  margin-left:0px;
  width:70%;
  min-width:300px;

}

/*Job Titles*/

.jobtitle {
  font-weight:600;
  font-size:1.5em;

}

/*Job Organization*/

.organization {
  font-weight:400;
  font-size:1.25em;

}

/*Job Dates*/

.date {
  font-weight:400;
  font-style:italic;
  font-size:1em;
  margin-top:2px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;

}

/*Contact Info, Skills and Education Lists*/


#menu {

  margin-top:5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;


}

li {

  display: inline;
  list-style-type:none;
}



#degrees {
  margin-top:5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

#do {
  margin-top:5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;

}

/*Paragraph*/

.p {
  margin-top:10px;
  margin-bottom:10px;
  margin-right: 0px;
  margin-left: 0px;

}

/*Contact Info*/

.menu {
  margin: 0px;
  padding: 0px;
  text-align: center;

}

.top {

  width:60%;
  min-width:100%;
  max-width:1200px;
  margin:0 auto;
  padding-bottom: 50px;
}
